{% extends('base.html') %}
{% block content %}    
    <div class="container">
        <h2>{{competition['name']}}</h2>
        Places available: {{ competition['numberOfPlaces'] }} <br>
        Points available for the club <b> {{ club['name'] }} </b>: {{ club['points'] }}
        <form action="/purchasePlaces" method="post">
            <input type="hidden" name="club" value="{{ club['name'] }}">
            <input type="hidden" name="competition" value="{{ competition['name'] }}">
            <label for="places">How many places?</label><input type="number" min="1" name="places" id="" required=""/>
            <button type="submit">Book</button>
        </form>
    </div>
{% endblock content %}