{% extends('base.html') %}
{% block content %}    
    <div class="container">
        <div class="col d-flex justify-content-center">
            <h2>Clubs list</h2>
        </div>
        <div class="col d-flex justify-content-center">
            
            <ul>
                {% for club in clubs %}
                    <li>
                        Club: {{club['name']}} --- Points: {{club['points']}}<br />
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col d-flex justify-content-center">
                <form  method = "post" action = "{{ url_for('showSummary') }}">
                    <input type="hidden" name="email" value = '{{email}}' id=""/>
                    <button class="btn btn-info" type="submit">Go Back</button>
                </form>
        </div>
    </div>
{% endblock content %}