{% extends('base.html') %}
{% block content %}    
    <div class="container">
        <h2>Welcome, {{ club['email'] }}</h2>
        <div class="row">
            <div class="col">Points available: {{ club['points'] }}</div>    
            <div class="col d-flex justify-content-end"><a href="{{ url_for('logout') }}">Logout</a></div>
        </div>
        <div class="col d-flex justify-content-end"><a href="{{ url_for('list_clubs_points', email=club['email']) }}">list of clubs</a></div>
        <h3>Competitions:</h3>
        <ul>
            {% for comp in competitions %}
                <li>
                    {{ comp['name'] }}<br />
                    Date: {{ comp['date'] }}<br />
                    Number of Places: {{ comp['numberOfPlaces'] }}
                    {% if comp['numberOfPlaces']|int > 0 %}
                        {% if comp['valid_date'] %}
                            <a href="{{ url_for('book',competition=comp['name'],club=club['name']) }}">Book Places</a>
                        {% else %}
                            &ensp;<span>Past competition</span> 
                        {% endif %}
                    {%elif comp['numberOfPlaces']|int == 0 %}
                        &ensp; <span>This contest is full</span>
                    {% endif %}
                </li>
                <hr />
            {% endfor %}
        </ul>

    </div>
{% endblock content %}